<%= form_with(model: sync) do |form| %>
  <% if sync.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sync.errors.count, "error") %> prohibited this sync from being saved:</h2>

      <ul>
        <% sync.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
