<h1>Syncs</h1>

<table>
  <thead>
    <tr>
      <th>Notion Database</th>
      <th>Google Calendar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syncs.each do |sync| %>
      <tr>
        <td><%= sync.notion_source&.name %></td>
        <td><%= sync.gcal_source&.name %></td>
        <td>
          <%= link_to 'Show', sync %> | <%= link_to 'Delete', sync, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sync', syncs_path, method: :post %>
